In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./Admission (1).csv')
df.head(2)

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0,MAT,55.0,58.80,Marketing & HR,50,65,74,Placed,270000
1,2,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1,MAT,86.5,66.28,Marketing & Finance,69,70,75,Placed,200000

In [4]:
df.shape

(391, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 391 non-null    int64
 1   Gender               391 non-null    object
 2   Percent_SSC          391 non-null    float64
 3   Board_SSC            391 non-null    object
 4   Percent_HSC          391 non-null    float64
 5   Board_HSC            391 non-null    object
 6   Stream_HSC           391 non-null    object
 7   Percent_Degree       391 non-null    float64
 8   Course_Degree        391 non-null    object
 9   Experience_Yrs       391 non-null    int64
 10  Entrance_Test        324 non-null    object
 11  Percentile_ET        391 non-null    float64
 12  Percent_MBA          391 non-null    float64
 13  Specialization_MBA   391 non-null    object
 14  Marks_Communication  391 non-null    int64
 15  Marks_Projectwork    391 non-null    int64
 16  Marks_BOCA           391 non-null    int64
 17  Placement            391 non-null    object
 18  Salary               391 non-null    int64
dtypes: float64(5), int64(6), object(8)
memory usage: 58.2+ KB

In [6]:
df.isnull().sum()

SlNo                    0
Gender                  0
Percent_SSC             0
Board_SSC               0
Percent_HSC             0
Board_HSC               0
Stream_HSC              0
Percent_Degree          0
Course_Degree           0
Experience_Yrs          0
Entrance_Test          67
Percentile_ET           0
Percent_MBA             0
Specialization_MBA      0
Marks_Communication     0
Marks_Projectwork       0
Marks_BOCA              0
Placement               0
Salary                  0
dtype: int64

In [7]:
df['Entrance_Test'].fillna('Management_Quota',inplace=True)

In [8]:
df = df.drop(['SlNo','Salary'],axis=1)

In [10]:
df_cat = df.select_dtypes(exclude=np.number)
df_num = df.select_dtypes(include=np.number)

In [11]:
cat_encode = pd.get_dummies(df_cat.drop('Placement',axis=1),drop_first=True)

In [12]:
final_df = pd.concat([df_num,cat_encode],axis=1)
final_df.shape

(391, 32)

In [15]:
final_df['Placement']=df['Placement']
final_df.head()

,Percent_SSC,Percent_HSC,Percent_Degree,Experience_Yrs,Percentile_ET,Percent_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Gender_M,...,Entrance_Test_G-SAT,Entrance_Test_GCET,Entrance_Test_K-MAT,Entrance_Test_MAT,Entrance_Test_Management_Quota,Entrance_Test_PGCET,Entrance_Test_XAT,Specialization_MBA_Marketing & HR,Specialization_MBA_Marketing & IB,Placement
0,62.00,88.00,52.00,0,55.0,58.80,50,65,74,1,...,0,0,0,1,0,0,0,1,0,Placed
1,76.33,75.33,75.48,1,86.5,66.28,69,70,75,1,...,0,0,0,1,0,0,0,0,0,Placed
2,72.00,78.00,66.63,0,0.0,52.91,50,61,59,1,...,0,0,0,0,1,0,0,0,0,Placed
3,60.00,63.00,58.00,0,75.0,57.80,54,66,62,1,...,0,0,0,1,0,0,0,0,0,Placed
4,61.00,55.00,54.00,1,66.0,59.43,52,65,67,1,...,0,0,0,1,0,0,0,1,0,Placed

In [13]:
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score

In [35]:
x = final_df.drop('Placement',axis=1)
y = final_df['Placement']
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=100)

In [17]:
xtrain_num=xtrain[['Percent_SSC', 'Percent_HSC', 'Percent_Degree', 'Experience_Yrs',
       'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA']]
xtest_num=xtest[['Percent_SSC', 'Percent_HSC', 'Percent_Degree', 'Experience_Yrs',
       'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA']]
xtrain_num.shape,xtest_num.shape

((273, 9), (118, 9))

In [18]:
xtrain_cat=xtrain.drop(['Percent_SSC', 'Percent_HSC', 'Percent_Degree', 'Experience_Yrs',
       'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA'],axis=1)
xtest_cat=xtest.drop(['Percent_SSC', 'Percent_HSC', 'Percent_Degree', 'Experience_Yrs',
       'Percentile_ET', 'Percent_MBA', 'Marks_Communication',
       'Marks_Projectwork', 'Marks_BOCA'],axis=1)
xtrain_cat.shape,xtest_cat.shape

((273, 23), (118, 23))

In [19]:
from sklearn.preprocessing import StandardScaler,PowerTransformer

In [20]:
ss = StandardScaler()

In [22]:
scaled_xtrain_num = pd.DataFrame(ss.fit_transform(xtrain_num),columns=xtrain_num.columns)
scaled_xtest_num = pd.DataFrame(ss.transform(xtest_num),columns=xtest_num.columns)
scaled_xtrain_num.head(2)

,Percent_SSC,Percent_HSC,Percent_Degree,Experience_Yrs,Percentile_ET,Percent_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA
0,0.355249,1.054324,-0.164764,2.207578,1.309253,0.102346,0.183337,0.510149,0.934688
1,-0.668367,1.729059,0.156906,0.748331,0.054516,0.754617,0.968891,-1.431874,-0.030646

In [23]:
scaled_xtest_num.head(2)

,Percent_SSC,Percent_HSC,Percent_Degree,Experience_Yrs,Percentile_ET,Percent_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA
0,0.541524,0.246581,1.335994,-0.710915,-1.737737,1.405185,-0.489995,-0.044714,0.612910
1,1.519467,2.190626,-0.442066,-0.710915,1.008576,-0.364292,-1.163327,-0.183430,-0.674201

In [25]:
xtrain_cat = xtrain_cat.reset_index()
xtest_cat = xtest_cat.reset_index()

In [37]:
xtrain_final = pd.concat([scaled_xtrain_num,xtrain_cat],axis=1)
xtest_final = pd.concat([scaled_xtest_num,xtest_cat],axis=1)
xtrain.shape

(273, 32)

## KNN Model

In [29]:
from sklearn.neighbors import KNeighborsClassifier

In [30]:
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,roc_curve,accuracy_score,cohen_kappa_score

In [38]:
KNN = KNeighborsClassifier()
KNN_model = KNN.fit(xtrain_final,ytrain)
pred_KNN = KNN_model.predict(xtest_final)
print(classification_report(ytest,pred_KNN))

              precision    recall  f1-score   support

  Not Placed       1.00      0.19      0.32        26
      Placed       0.81      1.00      0.90        92

    accuracy                           0.82       118
   macro avg       0.91      0.60      0.61       118
weighted avg       0.86      0.82      0.77       118

C:\Users\V.Kalyan\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [39]:
cohen_kappa_score(ytest,pred_KNN)

0.2707474985285462

## NAIVE-BAYES MODEL

In [33]:
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [40]:
nb = GaussianNB()
nb_model = nb.fit(xtrain_final,ytrain)
pred_nb = nb_model.predict(xtest_final)
print(classification_report(ytest,pred_nb))
print(cohen_kappa_score(ytest,pred_nb))

              precision    recall  f1-score   support

  Not Placed       0.22      0.96      0.36        26
      Placed       0.80      0.04      0.08        92

    accuracy                           0.25       118
   macro avg       0.51      0.50      0.22       118
weighted avg       0.67      0.25      0.14       118

0.0022800684020521933

## DECISION TREE MODEL

In [41]:
DT = DecisionTreeClassifier()
DT_model = DT.fit(xtrain_final,ytrain)
pred_DT = DT_model.predict(xtest_final)
print(classification_report(ytest,pred_DT))
cohen_kappa_score(ytest,pred_DT)

              precision    recall  f1-score   support

  Not Placed       0.18      0.12      0.14        26
      Placed       0.77      0.85      0.81        92

    accuracy                           0.69       118
   macro avg       0.47      0.48      0.47       118
weighted avg       0.64      0.69      0.66       118

-0.042004773269689766

In [ ]:
# so never perform the decision tree on scaled data

In [36]:
DT = DecisionTreeClassifier()
DT_model = DT.fit(xtrain,ytrain)
pred_DT = DT_model.predict(xtest)
print(classification_report(ytest,pred_DT))
cohen_kappa_score(ytest,pred_DT)

              precision    recall  f1-score   support

  Not Placed       0.29      0.19      0.23        26
      Placed       0.79      0.87      0.83        92

    accuracy                           0.72       118
   macro avg       0.54      0.53      0.53       118
weighted avg       0.68      0.72      0.70       118

0.07064439140811452